*{
    background-color:   #e7e9eb;
    color:black;
}  
h1{
    color: rgb(155, 215, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
h2{
    color: rgb(155, 215, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color:  rgb(155, 215,243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#boton {
    background-color: rgb(145, 231, 217);
}
.resaltado{
    color: #73d3be;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}